# Primary Files
.idea/
__pycache__/
.DS_Store

# Personal Files
**test*.py
*.csv
*.pickle
images/
future/
!tests/*.py
dist/
deeptoolkit.egg-info/
build/
.eggs/

# C++ Extension Files
*.cmake
**.egg-info/
**/build/
**/cmake-build-debug
deeptoolkit/core/batch/*.p*